/**
 * Fuentes
 */
 @font-face {
    font-family: 'OpenSansRegular';
    src: url('/fonts/OpenSans-Regular-webfont.eot');
    src: url('/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('/fonts/OpenSans-Bold-webfont.eot');
    src: url('/fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('/fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('/fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/**
 * General
 */
body, input, select, textarea {
	font-family: 'OpenSansRegular';
	font-size: 13px;
}

body {
	background: url(/img/body-bg.png);
}

div#pag {
	margin: 0px auto;
	padding: 40px 0px 15px;
	width: 765px;
}

/**
 * Header
 */
header {
 	margin-bottom: 21px;
}

header h1 {
 	width: 281px;
}

header h1 a {
 	background: url(/img/header-h1-a.png) no-repeat;
 	display: block;
 	height: 88px;
 	text-indent: -9999px;
}
